:root {
    --pink: hsl(338,70%, 55%);
    --teal: hsl(183, 70%, 62%);
    --white: hsl(334, 7%, 95%);
}

*,
*::before
*::after{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns content to the top */
    height: 100vh; /* Full viewport height */
    margin: 0;
    background: hsl(224,32%,12%);
    background-image: coinc-gradient(
        from 0deg at 50% 50%,
        blue,
        purple,
        purple,
        blue
    );
    background-blend-mode: multiply;
    color: white;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
} 

pre {
    --selector: var(--pink);
    --property: var(--teal);
    --punctuation: var(--white);

    font-size: 3rem;
    font-weight: bold;
    background: hsl(222, 45%, 7%);
    padding: 2rem;
    border-radius: 1rem;

    position: relative;

    transform-style: preserve-3d;
    transform:
        perspective(5000px)
        rotateY(var(--rotateY))
        rotateX(var(--rotateX));
}

.selector {
    color: var(--selector);
}

.property {
    color: var(--property);
}

.punctuation {
    color: var(--punctuation);
}

pre > * {
    text-shadow: 0 0 0.3em currentColor;
}

pre::before,
pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

pre::before {
    inset: 0.75rem;
    background: black;
    transform: translateZ(-49px);
    filter: blur(15px);
    opacity: 0.5;
}

pre::after {
    inset: -1rem;
    background:
        linear-gradient(-45deg, red, blue);
    transform: translateZ(-50px);
}

#card-container {
    perspective: 1000px;
}

#card {
    width: 50vw; /* 25% of the viewport width */
    height: calc(25vw * 0.5); /* Adjust the multiplier to get the desired aspect ratio */
    transform-style: preserve-3d;
    transition: transform 0.1s;
    /*transform: translateY(-200px); Move the card up by 300px */
    /* Other styles... */
}


/* Additional styles for content inside the card (if needed) */
#card img {
    width: 100%; /* Adjust as needed */
    height: auto;
    /* Other styles... */
}

#card p {
    text-align: center;
    /* Other styles... */
}
#interaction-area {
    display: flex;
    justify-content: center;
    align-items: center; /* Center card vertically within interaction area */
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: absolute; /* Position it independently of the body */
    top: 0;
    left: 0;
}
